{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="modal fade" id="createMailingModal" tabindex="-1" role="dialog" aria-labelledby="createMailingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createMailingModalLabel">Create Mailing</h4>
      </div>
      <div class="modal-body">
        <form id="mailingForm" method="post" action="{% url 'create_mailing' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

// $.ajaxSetup({
//     headers: {
//         'X-CSRFToken': '{{ csrf_token }}'
//     }
// });

$(document).ready(function() {
    $('#mailingForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                    $('#createMailingModal').modal('hide');
                    alert('Mailing created successfully!');
                } else {
                    alert('Error: ' + response.errors);
                }
            }
        });
    });
});
</script>
{% endblock %}

<html>
<body>
    <p>Hello {{ subscriber.first_name }} {{ subscriber.last_name }},</p>
    <p>{{ mailing.html_template|safe }}</p>
    <img src="http://localhost/track_open/{{ mailing.id }}/{{ subscriber.id }}/" alt="" style="display:none;">
</body>
</html>